In [3]:
print(name)

imran

In [2]:
name : str = "imran"
print( name )

imran

String is very important  in programming. A string can be used to store text, a message or any other type of data that needs to be represented as characters. In this tutorial we will learn how to work with strings in

String DataType In Python

In [1]:
name : str = "Muhammad Imran"
print( name )
print( type(name))

Muhammad Imran
<class 'str'>

In [ ]:
name : str = "imran khan"
fname : str = "Khan"
education : str = "BS Computer science"
age : int = 23

card : str = "PIAIC Student Card \n Student Name " + name +\
"\nAge:" + str(age)+ "\n"+\
"Education" + education
print(card)

PIAIC Student Card
 Student Name imran khan
Age:23
EducationBS Computer science

# Define Multi Line String """ """, ''' '''

In [2]:
name : str = "imran khan"
fname : str = "Khan"
education : str = "BS Computer science"
age : int = 23

card : str = """
PIAIC Student Card :
 Student Name :
Father Name :
Age :
Education :
"""
print(card)

PIAIC Student Card :
 Student Name :
Father Name :
Age :
Education :

# F-String is more powerfull string in python

In [3]:
name : str = "imran khan"
fname : str = "Khan"
education : str = "BS Computer science"
age : int = 23

card : str = f"""
PIAIC Student Card 
Student Name :{name}
Father Name :{fname}
Age :   {age}
Education :{education}
"""
print(card)

PIAIC Student Card
Student Name :imran khan
Father Name :Khan
Age :   23
Education :BS Computer science

In [5]:
name : str = "imran khan"
fname : str = "Khan"
education : str = "BS Computer science"
age : int = 23

card : str = f'''
PIAIC Student Card 
Student Name :{name}
Father Name :{fname}
Age :   {age}
Education :{education}

Total ={20 + 30 + 45 + 36}

'''
print(card)

PIAIC Student Card
Student Name :imran khan
Father Name :Khan
Age :   23
Education :BS Computer science

Total =131

# F-String and Jinja

In [6]:
abs :str = f"""
    Student Nmae {name}
"""
#janja 
ab :str = """
    student name {{name}}
"""

In [7]:
name : str = "imran khan"
fname : str = "Khan"
education : str = "BS Computer science"
age : int = 23

card : str = f"""
PIAIC Student Card 
Student Name :%s
Father Name :%s
Age :   %d
Education :%s
""" % (name,fname,age,education)
print(card)

PIAIC Student Card
Student Name :imran khan
Father Name :Khan
Age :   23
Education :BS Computer science

In [11]:
[i for i in dir(str) if "" not int i]

SyntaxError: invalid syntax (479727642.py, line 1)

# String Function

In [12]:
name : str = "Muhammad KHAN"
print(name.capitalize())
print(name.lower())

Muhammad khan
muhammad khan

In [13]:
a = 7
b = 8
"The Value a = {} and Value b = {} ".format(a,b)

'The Value a = 7 and Value b = 8 '

In [14]:
name : str = "imran khan"
fname : str = "Khan"
education : str = "BS Computer science"
age : int = 23

card : str = f"""
PIAIC Student Card 
Student Name : {}
Father Name : {}    
Age : {}
Education : {}
""".format(name, fname, age, education)
print(card)

SyntaxError: f-string: empty expression not allowed (4104146434.py, line 12)

#Explore String Methods and Attribute

In [2]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [3]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [1]:
import re

name : str = "      MuHammAd           QasIm         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'      MuHammAd           QasIm         '

'MuHammAd QasIm'

in jupter note book display is good

In [2]:
name:str = "My Name Is Imran"
print(name.upper())
print(name.lower())

MY NAME IS IMRAN
my name is imran

In [3]:
_1name : str = "Qasim"
print(_1name)

Qasim

In [4]:
piaic student name : str = "Muhammad Qasim"
print(piaic student name)

SyntaxError: invalid syntax (3054023434.py, line 1)

In [5]:

piaic_student_name : str = "Muhammad Qasim"
print(piaic_student_name)

Muhammad Qasim